<!DOCTYPE html>
<html>
    <head>
    <meta charset="UTF-8">
    </head>
    <body>
        <header class="header">
            <img src="https://www.technobezz.com/files/uploads/2020/04/twitter-logo.jpg">
            <nav>
            <ul class="top_menu">
            <li><span>Accueil<span></li>
            <li><span>Explorer<span></li>
            <li><span>Notifications<span></li>
            <li><span>Messages<span></li>
            <li><span>Profil<span></li>
            <li><span>Plus<span></li>
            </ul>
            </nav>
        </header>
        